[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
falcon = "*"
waitress = "*"
requests = "*"
msgpack-python = "*"
xlrd = "*"
wheel = "*"
redis = "*"
geohash = "*"
numpy = "*"

[requires]
python_version = "2.7"
