[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
falcon = "==1.4.1"
python-geohash = "==0.8.5"
xlrd = "==1.1.0"
certifi = "==2018.1.18"
chardet = "==3.0.4"
docutils = "==0.14"
idna = "==2.6"
numpy = "*"
python-mimeparse = "==1.6.0"
redis = "*"
requests = "==2.18.4"
six = "==1.11.0"
"urllib3" = "==1.22"
waitress = "==1.4.1"

[requires]
python_version = "2.7"
